<%- include('layouts/header'); %>
          <div class="container">
                <div class="row justify-content-start mt-3">
                    <div class="col-12 shadow-lg border-bottom-2 border-bottom-secondary rounded p-4 me-2 bg-light ">
                        <p class="text-center fw-bold text-success slogan">
                            The Organic Mall - Health Is Wealth
                        </p>
                        <p class="text-secondary fw-bold text-center d-none d-md-block">Buy our locally and organically produced foods from nutrient rich soils of Malawi - no chemical or artificial farm inputs used!</p>
                    </div>
                    <% items.forEach((product)=>{ %>
                        <div class="col-sm-12 col-md-3 shadow-lg border rounded ">
                        <div class="card justify-content-start my-2">
                            <img src="<%= product.foto %>" class="card-top-img" alt="item-foto">
                            <div class="card-body">
                                <h5 class="card-title">Item: <%= product.item %></h5>
                                <ul class="price-listing">
                                    <li>
                                        <span class="text-lead">Category:  <%= product.category %></span>
                                    </li>
                                    <li>
                                        <span class="text-lead">Price: <%= product.price%> MWK</span>
                                    </li>
                                </ul>
                                <a href="/product/<%= product.id %>" class="btn btn-secondary px-4 d-sm-none d-md-block price" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart me-1" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                  </svg>Buy MWK <%= product.price %></a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
          </div>
<%- include('layouts/footer') %>    